.lists-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    min-height: 80vh;
    align-items: flex-start;
    margin: 0 auto;
    h2{
      text-align: center;
    }
  }
  
  .task-container {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
    max-height: 60vh;
    height: 60vh;
    overflow-y: scroll;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
  }
  .task-item {
    position: relative; /* Hace que el botón se posicione relativo a este contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top ;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 120px; /* Establece una altura mínima para todas las tarjetas */
  }
  
  .task-item-content {
    flex-grow: 1;
    padding-bottom: 40px; /* Espacio extra para evitar que el botón se superponga con el texto */
  }
  
  
  @media (max-width: 768px) {
    .lists-container {
      flex-direction: column;
      align-items: center;
    }
  
    .task-container {
      width: 90%;
      max-width: 90%;
    }
  }
  