.main-header {
  height: 50px;
  background:  linear-gradient(45deg, #1f1f1f, #4f4f4f);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-inline: 15px ;
}
.user-icon {
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s;
}


.logo {

  font-family: 'Arial', sans-serif;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.user-icon:hover {
  color: var(--color-hoverlinks);
}
.chkburger {
  display: none;
}

.chkburger:not(:checked)~.main-navbar {
  left: -200px;
}

.chkburger:checked~.main-navbar {
  left: 0 !important;
}

.user-name{
  color: var(--color-text);
}
.logout-btn{
  color: var(--color-text);
  background-color: transparent;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.cart-container {
  position: relative; /* Permite posicionar elementos dentro de este contenedor */
  cursor: pointer;
}



.user-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}

.user-container img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.nav-link {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: bold;
  color: #ff6600;
}
